* {
    margin: 0;
    padding: 0;
}

.title {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 1.1em;
    position: absolute;
    z-index: 1;
}

.start {
    z-index: 1;
    position: absolute;
    /*color:red;*/
    margin-left:auto;
    margin-right:auto;
    top:50%;
    left:50%;
    width: 250px;
    height:50px;
    margin: -125px;;
}

.playerTurn {
    text-align: center;
    left: 50%;
    height: 50px;
    margin-left: -128px;
    margin-top: 100px;
}

.text {
    text-align: center;
    left: 50%;
    height: 50px;
    margin-left: -150px;
}

.speed {
    text-align: center;
    left: 50%;
    margin-left: -58px;
    margin-top: 75px;
}

body {
    overflow: hidden;
}

.div_score {
    width: 212px;
    height: 40px;
    background-color: white;
    margin: 20px;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 1;
    position: absolute;
}

#player1_name {
    position: absolute;
    left: 83px;
}
#player2_name {
    position: absolute;
    right: 83px;
}

.player2 {
    right: 0;
}

.ball {
    background-image: url(assets/img/balls.png);
    background-repeat: no-repeat;
    background-size: 646%;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    z-index: 1;
    position: absolute;
}

#ball_1 {
    background-position: -15px -12px;
}

#ball_2 {
    left: 30px;
    background-position: -58px -12px;
}

#ball_3 {
    left: 60px;
    background-position: -101px -10px;
}

#ball_4 {
    left: 90px;
    background-position: -142px -11px;
}

#ball_5 {
    left: 120px;
    background-position: -13px -47px;
}

#ball_6 {
    left: 150px;
    background-position: -57px -47px;
}

#ball_7 {
    left: 180px;
    background-position: -100px -48px;
}

#ball_9 {
    background-position: -15px -86px;
}

#ball_10 {
    left: 30px;
    background-position: -58px -86px;
}

#ball_11 {
    left: 60px;
    background-position: -101px -87px;
}

#ball_12 {
    left: 90px;
    background-position: -142px -88px;
}

#ball_13 {
    left: 120px;
    background-position: -13px -121px;
}

#ball_14 {
    left: 150px;
    background-position: -57px -121px;
}

#ball_15 {
    left: 180px;
    background-position: -100px -123px;
}
